.notfound-container {
    text-align: center;
    font-size: 20px;
}

.back-home {
    color: aliceblue;
    background-color: rgb(11, 34, 54);
    text-decoration: none;
    padding: 0.3rem 1rem;
    border-radius: 8px;
}

.back-home:hover {
   transform: translateY(-4px);
   color: rgb(255, 255, 255);
}